<div class="table-responsive">
    {% if cases %}
        <table class="table table-striped">
            <thead>
            <tr>
                {% if surgeon.is_superuser %}
                    <th>
                        Surgeon
                    </th>
                {% endif %}
                <th>
                    Case No
                </th>
                <th>
                    Patient Name
                </th>
                <th>
                    status
                </th>
            </tr>
            </thead>
            {% for case in cases %}
                <tr>
                    {% if surgeon.is_superuser %}
                        <td>
                            <a href="{% url 'surgeon_details' case.surgeon.pk %}">
                                {{ case.surgeon }}
                            </a>
                        </td>
                    {% endif %}

                    <td>
                        <a href="{% url 'case' case.id %}">
                            {{ case.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'viewpatientrecord'  case.id %}">
                            {{ case.patientrecord.patient }}
                        </a>
                    </td>
                    <td>
                        {{ case.get_status_display }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>
            No cases to show
        </p>
    {% endif %}
</div>
{% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
{% endif %}