{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <h2>Surgeon Details</h2>
        <ul>
            <li>
                {{ surgeon }},
            </li>
            <li>
                Status:
                {% if surgeon.user.is_superuser %}
                    admin user
                {% else %}
                    Surgeon
                {% endif %}
            </li>

            <li>email:
                {{ surgeon.user.email }}
            </li>
        </ul>
        {% include "surgeon/surgeon_caselist.html"  with cases=surgeon.case_set.all user=surgeon %}
    </div>
{% endblock %}