{% extends 'base.html' %}
{% block body %}
    <h2>Surgeon Details</h2>
    <ul>
        <li>
            {{ surgeon }},
        </li>
            {% if surgeon.user.is_superuser %}
                <li>
                admin user
                </li>
            {% endif  %}
        <li>email:
            {{ surgeon.user.email }}
        </li>
        <li>
            Cases:
            <ul>
                {% for case in surgeon.case_set.all %}
                    <li>
                        <a href="{% url 'case' case.pk %}">
                            {{ case }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}