{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body %}
    <div class="container-fluid">
    <h1>
        Case {{ case.id }}: {{ case }}
    </h1>
    <h2>Summary</h2>

    <ul>
        <li>
            Name: {{ case.patientrecord.patient }}
        </li>
        <li>
            Age: {{ case.patientrecord.age }}
        </li>
        <li>
            Admission date: {{ case.patientrecord.admission_date }}
        </li>
        <li>
            Surgery date: {{ case.patientrecord.surgery_date }}
        </li>
        <li>
            Discharge date: {{ case.patientrecord.discharge_date }}
        </li>
        <li>
            Status : {{ case.get_status_display }}
        </li>
    </ul>
    <h2>Team</h2>
    <ul>
        {% for team_member in case.get_team_members %}
            <li>
                {{ team_member.surgeon }} as {{ team_member.get_role_display }}
            </li>
        {% endfor %}
        </ul>
    <hr>
    <img src="{% url 'caseimageview' case.pk %}"
         style="
            border-color: grey;
            border-width: 1px;
            border-style: solid;
            "
            ><br>
    <a href="{% url 'viewpatientrecord'  case.id %}">Full Patient Record</a>
    {% if case.note_set.all %}
        <h2>
            Notes
        </h2>
        <ul>
            {% for note in case.note_set.all %}
                <li>
                    {{ note.message }} ({{ note.commenter }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'case' case.pk %}" method="post" id="noteform" class="form form-horizontal">
        {% csrf_token %}
        {% if user.is_superuser %}
            <h2>Change Status</h2>
            {% bootstrap_form statusform layout='horizontal' %}
        {% endif %}
         <h2>Add note</h2>
    {% bootstrap_form noteform layout='horizontal' %}
    {% buttons %}
        <button type="submit" class="btn btn-primary align-center" >
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
    </form>

    </div>
{% endblock %}