{% extends 'base.html' %}
{% block body %}
    <h1>
        Case {{ case.id }}: {{ case }}
    </h1>
    <h2>Summary</h2>

    <ul>
        <li>
            Name: {{ case.patientrecord.patient }}
        </li>
        <li>
            Age: {{ case.patientrecord.age }}
        </li>
        <li>
            Admission date: {{ case.patientrecord.admission_date }}
        </li>
        <li>
            Surgery date: {{ case.patientrecord.surgery_date }}
        </li>
        <li>
            Discharge date: {{ case.patientrecord.discharge_date }}
        </li>
        <li>
            Status : {{ case.status }}
        </li>
    </ul>
    <a href="{% url 'viewpatientrecord'  case.id %}">Full Patient Record</a>
    {% if case.note_set.all %}
        <h2>
            Notes
        </h2>
        <ul>
            {% for note in case.note_set.all %}
                <li>
                    {{ note.message }} ({{ note.commenter }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'case' case.pk %}" method="post" id="noteform" class="form-horizontal">
        {% csrf_token %}
        {% if user.is_superuser %}
            <h2>Change Status</h2>
            {{ statusform }}
        {% endif %}
         <h2>Add note</h2>
         {{ noteform.as_p }}
            <input type="submit" value="Submit"/>
    </form>


{% endblock %}