{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extrehead %}
    {#todo : move to base.html #}
    <title>OpFistula Case Entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
        .errorlist {
            color: red;
        }

        .errorlist li {
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block body %}


    <div class="container-fluid">
    <h1>
        OpFistula Case Form
    </h1>
    <form action="{% url 'patientrecord' %}"
          method="post"
          id="submissionform"
          class="form form-horizontal  text-center" >
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% if form_editable %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        {% endif %}
    </form>
</div>
{% endblock %}