{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extrehead %}
    {#todo : move to base.html #}
    <title>OpFistula Case Entry</title>
    <style>
        .errorlist {
            color: red;
        }

        .errorlist li {
            list-style-type: none;
        }
    .help-block {
        float: right;
    }
    </style>
    <script >
        $( document ).ready(function() {
            $('#submissionform .form-group:nth-child(-n+15)').insertAfter('#target0');
        });
    </script>
{% endblock %}
{% block body %}


    <div class="container-fluid">
    <h1>
        OpFistula Case Form
    </h1>

    <form action="{% url 'patientrecord' %}"
          method="post"
          id="submissionform"
          class="form form-horizontal  text-center" >
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#personal" data-toggle="tab">Personal Details</a></li>
        <li><a href="#part-2" data-toggle="tab">Medical Details</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="personal">
            <h1>Personal Details</h1>
            <p id="target0">
            </p>
        </div>
        <div class="tab-pane" id="part-2">
            <h1>Medical Details</h1>
            <p id="target2"></p>

        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        </div>
    </div>
        {% if form_editable %}
            {% buttons %}
                <button type="submit" class="btn btn-primary ">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        {% endif %}
    </form>
</div>
{% endblock %}