{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <h1>
            Case Administration
        </h1>
        {% if not user.is_staff %}
            Please login to start:
            <a href="{% url 'login' %}?next={% url 'home' %}">Login</a>
        {% else %}
            Welcome {{ user }}!
            <ul>
                <li>
                    <a href="{% url 'caselist' %}">Cases</a>
                </li>
                <li>
                    <a href="{% url 'patientrecord' %}">Add new case?</a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">Super admin?</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% endif %}
    </div>

{% endblock %}